<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12 justify-content-center">
                <ul class="social-network text-center">
                    <li>
                        <a href="https://www.instagram.com/lojaametist/" target="_blank" class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/vit%C3%B3ria-de-lara/" target="_blank" class="icoLinkedin"></a>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://github.com/vitoria2002campos" target="_blank" class="icoGithub"></a>
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light"> © 2021 copyright: Vitória De Lara</span>
        </div>
       
    </div>

</footer>
