<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <!-- resposividade -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d- align-items-center">
        <li class="nav-item">
          <img src="https://avatars.githubusercontent.com/u/64369536?v=4" alt="user image" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item px-3">
          <p class="m-0 fw-bold text-white fs-16">Nome do usuário</p>
        </li>
        
        <li class="nav-item px-3">
          <a href=""></a>
          <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d- align-items-center">
        <li class="nav-item px-3">
          <a class="m-0 fw-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>

      </ul>
      
    </div>
  </div>
</nav>