


<div class="container-fluid sticky-top"  id="img-bg">

<div class="login">

<h1>Cadastro</h1>

<div class="textbox">

<i class="fa fa-user" aria-hidden="true"></i>

<input [(ngModel)]='user.nome' type="text" placeholder="Nome" name="nome" id="nome" >

</div>

<div class="textbox">

    <i class="fa fa-envelope" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.usuario' type="text" placeholder="Usuário" name="" id="usuario">
    
    </div>

<div class="textbox">

    <i class="fa fa-camera-retro" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.foto' type="text" placeholder="Link foto" name="foto" id="foto">
    
    </div>


<div class="textbox">

<i class="fa fa-unlock-alt" aria-hidden="true"></i>

<input type="password" placeholder="Senha" name="senha" id="senha">

</div>

<div class="textbox">

    <i class="fa fa-check" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.senha' type="password" placeholder="Senha" name="senha" id="confirmSenha">
    
    </div>
    <br>

    

       <div class="form-check">
           
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" 
        value="admin" checked>
        
        <label class="form-check-label" for="gridRadios1">
          Administrador(a)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="opcao2">
        <label class="form-check-label" for="gridRadios2">
          Normal
        </label>
     
        
        
    
        
     <br><br>

        

<input class="btn"
type="button" name="Cadastrar" value="Cadastrar">
        <br><br>
<input routerLink='/entrar' class ="btnCancelar"
type="button" name="Cancelar" value="Cancelar">

<hr class="mt-5 mb-5">

<p class="text-center">

Não tem uma conta? <a href="">Cadastre-se</a>

</p>

</div>

<div>
  <h1>ola</h1>
</div>


