


<div class="container-fluid sticky-top"  id="img-bg">

<div class="login">

<h1>Cadastro</h1>

<div class="textbox">

<i class="fa fa-user" aria-hidden="true"></i>

<input [(ngModel)]='user.nome' type="text" placeholder="Nome" name="nome" id="nome" >

</div>

<div class="textbox">

    <i class="fa fa-envelope" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.usuario' type="text" placeholder="Usuário" name="" id="usuario">
    
    </div>

<div class="textbox">

    <i class="fa fa-camera-retro" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.foto' type="text" placeholder="Link foto" name="foto" id="foto">
    
    </div>


<div class="textbox">

<i class="fa fa-unlock-alt" aria-hidden="true"></i>

<input (input)='confirmSenha($event)' type="password" placeholder="Senha" name="senha" id="senha">

</div>

<div class="textbox">

    <i class="fa fa-check" aria-hidden="true"></i>
    
    <input [(ngModel)]='user.senha' type="password" placeholder="Senha" name="senha" id="confirmSenha">
    
    </div>
    <br>

    

       <div class="form-check" (change)='tipoUser($event)'>
           
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" 
        value="admin" checked>
        
        <label class="form-check-label" for="gridRadios1">
          Administrador(a)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="opcao2">
        <label class="form-check-label" for="gridRadios2">
          Normal
        </label>
     
        
        
    
        
     <br><br>

        
<div class="d-flex align-items">
  <input  class="btn m-3 "
type="button" name="Cadastrar" value="Cadastrar" (click)='cadastrar()' >
        
<input routerLink='/entrar' class ="btnCancelar m-3" 
type="button" name="Cancelar" value="Cancelar">

</div>



</div>




