<div class="container-fluid"  id="img-bg">
    
    <div class="login">
        <h1>Tela de Acesso</h1>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Nome" name="" id="usuario">

        </div>

        <div class="textbox">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" placeholder="Senha" name="senha" id="senha">

        </div>
        <input class="btn"
         type="button" name="" value="Logar">
         <hr class="mt-5 mb-5">
         <p class="text-center">
             Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
         </p>
    </div>

    
<iframe src="https://giphy.com/embed/nAP9u76dncs6DRtxmE" width="480" height="480" frameBorder="0" class="giphy-embed float-end" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/TELYORGANICS-space-alien-aliens-nAP9u76dncs6DRtxmE"></a></p>
</div>
